<!DOCTYPE HTML>
<html><head>
    <title>PIM 60 HMI</title>
    <link rel="stylesheet" href="jquery-ui-1.9.2.custom.min.css">
    <link rel="stylesheet" type="text/css" href="inspector-ui.css">
    <link rel="stylesheet" type="text/css" href="template.css">

    <script src="jquery-1.8.3.min.js"></script>  
    <script src="jquery-ui-1.9.2.custom.min.js"></script>
    <script src="inspector.js"></script>
    <script src="inspector-ui.js"></script>
    <script type="text/javascript">  
        InspectorUI.AddDevicesIP(["192.168.99.9"]);

        $(function() {
            $( document ).tooltip();
            $(".button").button();
        });
    </script>

    <style type="text/css">
        #liveImage
        {
            /*width: 100%;*/
            margin: 10px auto;
        }
    </style>
</head>
<body>
    <div id="container">
        <div class="gradient backgroundColor" id="header">
            <div class="pageWidth">
                <a href="index.html"><div class="logo"></div></a>
                <div class="deviceInfo">Inspector PIM60</div>
            </div>
        </div>

        <div class="pageWidth">
            <img class="hmi-liveimage" id="liveImage" data-cameraip="192.168.99.9"/>
        </div>
        
        <div class="pageWidth" id="main">
            <a href="logger.html" id="supervision" class="button" title="Check the status of the camera">Logger Page</a>
            <a href="liveviewer.html" id="maintenance" class="button" title="Device control for field exchange">Liveviewer Page</a>
            <a href="batchchange.html" id="batchchange" class="button" title="Switch reference object and fine-tune parameters">Maintenance Page</a>
            <a href="supervision.html" id="batchchange" class="button" title="Switch reference object and fine-tune parameters">Supervision Page</a>
        </div>
    </div>
</body></html>