<!DOCTYPE HTML>
<html><head>
    <title>PIM 60 HMI</title>
    <link rel="stylesheet" href="jquery-ui-1.9.2.custom.min.css">
    <link rel="stylesheet" type="text/css" href="inspector-ui.css">
    <link rel="stylesheet" type="text/css" href="template.css">

    <script src="jquery-1.8.3.min.js"></script>  
    <script src="jquery-ui-1.9.2.custom.min.js"></script>
    <script src="jquery.flot.js"></script>
    <script src="inspector.js"></script>
    <script src="inspector-ui.js"></script>
    <script src="flot.time.js"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="excanvas.min.js"></script><![endif]-->
    
    <style type="text/css">
        .tabContainer {
            width:940px;
            margin-left:auto;
            margin-right:auto;
        }
    </style>
    <script type="text/javascript">
    /* This will run when page has loaded */
    $(function() {

        // Create tabs
        $( ".tabContainer" ).tabs(); 
        $( ".tabContainer" ).tabs("option", "active", 0); 

    });
    </script>

</head>
<body>
    <div id="container">
        <!-- <div class="gradient backgroundColor" id="header">
            <div class="pageWidth">
                <a href="index.html"><div class="logo"></div></a>
                <div class="deviceInfo">Inspector PIM60</div>
            </div>
        </div> -->
        <div class="tabContainer">
            <ul>
                <li><a href="#tabs-1" id="PlotTab">Result plot</a></li>
                <li><a href="#tabs-2" id="StatisticsTab">Statistics</a></li>
            </ul>
            <div id="tabs-1">
                <div class="hmi-resultplot" id="plot" data-selectedvalue="{&quot;Pixel_counter_1&quot;: &quot;PIXELS&quot;}" data-showclearbutton="true" data-showmenu="true"></div>
            </div>
            <div id="tabs-2">
                <h4>All at once</h4>
                <div class="hmi-statistics" data-interval="2000"></div>
                <h4>Value by value</h4>
                <div>Frame period: <span class="hmi-statistics" data-interval="2500" data-item="Calculated_frame_period"></span></div>
                <div>Image Count: <span class="hmi-statistics" data-interval="800" data-item="Number_of_acquired_images"></span></div>
            </div>
        </div>
    </div>
</body>
</html>