<!DOCTYPE HTML>
<html><head>
<title>PIM 60 HMI</title>

<link rel="stylesheet" href="jquery-ui-1.9.2.custom.min.css">
<link rel="stylesheet" type="text/css" href="inspector-ui.css">
<link rel="stylesheet" type="text/css" href="template.css">

<script src="jquery-1.8.3.min.js"></script>  
<script src="jquery-ui-1.9.2.custom.min.js"></script>
<script src="inspector.js"></script>
<script src="inspector-ui.js"></script>

<style type="text/css">

	#calibrateMM {
        width: 30px;
    }

	/* Make tabs full height*/
	.ui-tabs {
		height: 100%;
	}

	/* Remove any extra padding on the tab pages*/
	.ui-tabs .ui-tabs-panel
	{
		padding: 0;
	}

	/* Set log image size*/
	.hmi-refimage, .hmi-logimagelist ul li img{
		width: 540px;
		max-height: 500px;
	}

	/* Position and Size the update log images button */
	#updateButton
	{
		height: 56px;
		width: 56x;
		margin: 2px;
		position: absolute;
		right: 0px;
		left: 0px;
		z-index: 2;
	}

	/* Position and Size the reference images*/
	#refImageBanks{
		height: 362px;
		margin: 5px 10px;
		overflow-x: hidden;
	}

	#refImageBanks img{
		width: 123px;
	}

	#control
	{
		padding: 1px;
		width: 942px; /* Set to: pageWidth.width - 2 * box.margin - 2 */
		clear: both;
	}
	

	/* Position the save to flash button at the buttom of right box*/
	#saveBtn{
		position: relative;
		bottom: 0;
		left: 5px;
		margin: 5px;
	}

	/* Needed to position save to flash button correctly */
	.rightbox {
		position: relative;
	}

	#controller{
		background-color: #F5F5F5;
		border: 1px solid #DDDDDD;
		border-radius: 4px 0 4px 0;
		color: #3B3C3E;
		font-size: 12px;
		font-weight: bold;
		left: -1px;
		padding: 10px 7px 5px;
		margin: 0px;
		overflow-y: scroll;
	}

	.selected-image ul li img.selected {
		border: 5px solid #0084c2;
	}
</style>

<script type="text/javascript">
	InspectorUI.AddDevicesIP(["192.168.99.9"]);

	function clickedTab1() {
        $(".helpSection").hide();
        $("#settingshelp").show();
    }

	function clickedTab2() {
        $(".helpSection").hide();
        $("#livehelp").show();
    }

	function clickedTab3() {
        $(".helpSection").hide();
        $("#loghelp").show();
    }

	function clickedTab4() {
        $(".helpSection").hide();
        $("#confighelp").show();
    }

	/*Update the log images */
	function updateLogImages() {
		// $( "#updateButton" ).button("option", "disabled", true);
		InspectorUI.RefreshLogImageList(function(){
			$( "#updateButton" ).button("option", "disabled", false);
		});
	};

	function clickedBackup() {
        window.location = "/backup_config?config1";
    }

    function clickedUpload() {
        // To upload the a configuration it is required to login first
        // Replace <...> with username and password
        // NOTE! username and password is sent in plaintext
        $.post("/HandleConfig", "sopas_" + "username=Maintenance&" + "sopas_" + "password=Inspector").done(function(){
            $.get("/SelectRestore?prepare_on").done(function(){
                $("#restoreform").submit();
            });
            alert("Please wait for the Inspector to restart...");
        }); 
        
        return true;
    }

	/* This will run when page has loaded */
	$(function() {
		setInterval(updateLogImages, 5 * 1000 * 60);
		// Set up the spinner used to select square side of calibration
        $("#calibrateMM").spinner({
            min: 0,
            max:100
        }).on( "spinchange", function( event, ui ) {
            var value = $( "#calibrateMM" ).spinner( "value" );
            $("#calibrateBtn").actionbutton("option", "squareside", value);
        });

		// Show or hide controls based on camera mode
		$(InspectorUI).on("modeChange", function(e, newMode){
			if (newMode == 0)
			{
				// Entered Run-mode
				$("#control").hide("slide", {direction:"right"}, "slow");
				$("#reTeach").show();
			}
			else
			{
				// Entered Edit-mode
				InspectorUI.RefreshControls();
				$("#control").show("slide", {direction:"right"}, "slow");
				$("#reTeach").hide();
			}
		});

		// Update control values on reference object change
		$(InspectorUI).on("refObjChange", function(e, newIndex){
			InspectorUI.RefreshControls();
		});

		// Create tabs
		$( ".tabBtns" ).tabs();

		// Connect update button to reload log images
		$( "#updateButton" ).button({
				icons: { primary: "ui-icon-refresh" },
				text: false
			}).click(function(){updateLogImages();});

		$(function() {
            $( document ).tooltip();
            $(".button").button();
        });

		$(".hmi-liveimage").liveimage("option", "interval", 100);

		// Set up eventhandlers     
        $("#ReferenceImageBtn").click(clickedTab1);
		$("#LiveImageBtn").click(clickedTab2);
		$("#LoggedImageBtn").click(clickedTab3);
        $("#ConfigurationBtn").click(clickedTab4);

		$("#backupBtn").button().click(clickedBackup);
        $("#uploadBtn").button().click(clickedUpload);

		$('#reloadPage').button().click(function() {
    		location.reload();
		});

		clickedTab1()
	});
</script>
</head>
<body>
	<div id="container">
		<div id="main" class="pageWidth">
			<div class="leftbox">
				<button id="runBtn" class="hmi-mode large" data-cameraip="192.168.99.9" data-mode="0">Run</button>
				<button id="editBtn" class="hmi-mode large" data-cameraip="192.168.99.9" data-mode="1">Edit</button>
				<div id="refImageBanks" class="hmi-refimagelist borderColor selected-image" data-cameraip="192.168.99.9" data-orientation="vertical" data-selectable="true"></div>
				<button id="reloadPage" class="large">Reload Page</button>
			</div>
			<div class="centerbox">
				<div class="tabBtns">
					<ul>
						<li><a href="#tabs-1" id="ReferenceImageBtn">Reference</a></li>
						<li><a href="#tabs-2" id="LiveImageBtn">Live</a></li>
						<li><a href="#tabs-3" id="LoggedImageBtn">Logger</a></li>
						<li><a href="#tabs-4" id="ConfigurationBtn">Configuration</a></li>
					</ul>
					<div id="tabs-1">
						<div>
							<img class="hmi-refimage" data-cameraip="192.168.99.9" data-toolregion="0:86, 1:86, 2:86, 38" data-moveble="true"/>
						</div>
					</div>
					<div id="tabs-2">
						<img class="hmi-liveimage" data-overlay="true" data-cameraip="192.168.99.9"/>
						<div>
							<span>Square side:</span>
							<input id="calibrateMM" value="6" data-cameraip="192.168.99.9"></input>
							<span>mm</span>
							<button class="hmi-action" data-id="3" id="calibrateBtn" data-cameraip="192.168.99.9">Calibrate</button>
							<button class="hmi-action" data-id="4" id="removeCalibrationBtn" data-cameraip="192.168.99.9">Remove Calibration</button>
						</div>
					</div>
					<div id="tabs-3">
						<div>
							<button id="updateButton"></button>
							<div class="hmi-logimagelist" data-cameraip="192.168.99.9" data-index="0-9" data-orientation="horizontal"></div>
						</div>
					</div>
					<div id="tabs-4">
						<div class="box borderColor">
							<span id="backupBtn" class="button" data-cameraip="192.168.99.9">Download Configuration</span>
						</div>
						<div class="box borderColor">
							<form action="/RestoreConfig" method="post" enctype="multipart/form-data" target="upload_target" name="restoreform" id="restoreform" data-cameraip="192.168.99.9">
								<input type="file" name="datafile"/>
								<span id="uploadBtn" class="button" data-cameraip="192.168.99.9">Upload Configuration</span>
							</form>
	
							<!-- Hidden frame to do the file upload -->
							<iframe id="upload_target" name="upload_target" src="#" style="width:0;height:0;border:0px solid #fff;"></iframe>
						</div>
					</div>
				</div>
			</div>
			<div class="box borderColor rightbox" id="controller">
				<div class="helpSection" id="livehelp">
					<h2>Live viewer</h2>
					<p>
						Live status of camera
						For the calibration put chess pattern in view and press calibrate.
					</p>
				</div>
				<div class="helpSection" id="loghelp">
					<h2>Logged images</h2>
					<p>
						Last logged images
						Autoupdate 5 minutes
					</p>
				</div>
				<div class="helpSection" id="confighelp">
					<h2>Download and upload configuration</h2>
					<p>
						Read manual first
					</p>
				</div>
				<div class="helpSection" id="settingshelp">
					<h1>Settings</h1>
					<h2>Settings are commited live</h2>

					<button id="reTeach" class="hmi-action large" data-cameraip="192.168.99.9" data-id="2">Re-Teach</button>
					<button id="saveBtn" class="hmi-action large" data-id="1" data-cameraip="192.168.99.9">Save to flash</button>

					<label>Exposure:</label>
					<div class="hmi-parameter" data-id="14" data-cameraip="192.168.99.9"></div>

					<label>Gain:</label>
					<div class="hmi-parameter" data-id="15" data-cameraip="192.168.99.9"></div>

					<label>Pixel counter intensity treshold in range:</label>
					<div class="hmi-parameter" data-cameraip="192.168.99.9" data-tool="0" data-id="80"></div>

					<label>Pixels in range:</label>
					<div class="hmi-parameter" data-cameraip="192.168.99.9" data-tool="0" data-id="81"></div>

					<label>Object locator match treshold:</label>
					<div class="hmi-parameter" data-cameraip="192.168.99.9" data-tool="0" data-id="32"></div>

					<label>Object locator:</label>
					<div class="hmi-parameter" data-cameraip="192.168.99.9" data-id="33">Allow Rotation</div>

					<label>Pattern score treshold in range:</label>
					<div class="hmi-parameter" data-cameraip="192.168.99.9" data-tool="0" data-id="85"></div>
				</div>
			</div> 
		</div>
		<!-- End of div main -->
	</div> 
<!-- End of div container -->	
</body></html>